
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="heading"><h2>FEATURED PRODUCTS</h2></div>
        <div class="products">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="product">
                    <div class="image"><a href="@Url.Action("Details",new {id = 1 })"><img src="~/Asset/images/iphone-12-pro-max.jpg" /></a></div>
                    <div class="buttons">
                        <a class="btn cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                        <a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
                        <a class="btn compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a>
                    </div>
                    <div class="caption">
                        <div class="name"><h3><a href="product.html">Iphone 12 pro max</a></h3></div>
                        <div class="price">$1258<span>$1434</span></div>
                        <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="product">
                    <div class="image"><a href="product.html"><img src="~/Asset/images/oppo-reno-5.jpg" /></a></div>
                    <div class="buttons">
                        <a class="btn cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                        <a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
                        <a class="btn compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a>
                    </div>
                    <div class="caption">
                        <div class="name"><h3><a href="product.html">Oppo Reno 5</a></h3></div>
                        <div class="price">$391<span>$375</span></div>
                        <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="product">
                    <div class="image"><a href="product.html"><img src="~/Asset/images/xiaomi-poco.jpg" /></a></div>
                    <div class="buttons">
                        <a class="btn cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                        <a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
                        <a class="btn compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a>
                    </div>
                    <div class="caption">
                        <div class="name"><h3><a href="product.html">Xiaomi Poco</a></h3></div>
                        <div class="price">$391<span>$350</span></div>
                        <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="product">
                    <div class="image"><a href="product.html"><img src="~/Asset/images/xiaomi-redmi-note.jpg" /></a></div>
                    <div class="buttons">
                        <a class="btn cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                        <a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
                        <a class="btn compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a>
                    </div>
                    <div class="caption">
                        <div class="name"><h3><a href="product.html">Xiaomi Redmi Note 10</a></h3></div>
                        <div class="price">$173<span>$203</span></div>
                        <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

